[2014-01-31 15:52] isimmons opened #1 "Runs phpunit task twice on Windows 7"
Hi,

For some reason phpunit runs twice each time the task is called. This is on Windows 7.

[code]

Relevant part of gulpfile:

[code]

I'm guessing it has something to do with map-stream because there is no problem when I use Jeffrey's code.

[2014-02-07 23:12] isimmons opened #2 "unhandled error event when test fails"
I see here in your comment this is a known issue. https://gist.github.com/laracasts/8659865

I added a gutil.log in my gulpfile

[code]

Which appears to be catching and handling the error

[code]

So it doesn't kill the watcher this way. Don't know if that's of any help.

[2014-02-09 22:55] #2 closed, assigned to nobody

[2014-02-09 22:55] #1 closed, assigned to nobody

[2014-02-10 02:41] isimmons opened #3 "[Proposal] Add notify option to call the callback with error if user is using gulp-notify"
I want to be able to use gulp-notify and for this to work there needs to be a callback added but I realized the callback removed for version 0.0.2 was removed to stop un-handled error events.

My proposal is to add a notify option that will run cb(error, file); only if the developer specifies they want to use notify, leaving it to the developer to handle the error event.

Example task with notify:

[2014-02-11 01:03] #3 closed, assigned to nobody

[2014-02-13 20:12] sylouuu opened #4 "Backslashes for phpunit path instead of slashes (Windows)"
Hi,

[code]

Works.

[code]

Throws an error: `'.' is not recognized [...]` Why?

If I run the task from an Unix machine, will I get an error for using backslashes?

Bests

[2014-02-14 02:20] taai opened #5 "Does not run, because the command is faulty"
After I installed this plugin I got this error:

[code]

I'm using Windows 7 by the way.

Anyway, I found out a quick solution for this - just cover the command with `"  "` like this: `'"./vendor/bin/phpunit"'`

[code]

[2014-02-14 20:27] #5 closed, assigned to nobody

[2014-02-14 20:29] #4 closed, assigned to nobody

[2014-02-25 23:18] taai opened #7 "Does not work as dependency task"
Actually, I found the solution already.

Add this:

[code]

just right after

[code]

https://github.com/mikeerickson/gulp-phpunit/blob/master/index.js#L63

I hope you will add this fix ASAP. :smile:

[2014-02-27 19:38] #7 closed, assigned to nobody

[2014-03-02 12:14] adri opened #9 "Sourced files `gulp.src(...)` have no effect on PHPUnit command?"
I'm trying to watch for changes in my unit test files and run PHPUnit for each test and came up with the following code:

[code]

It seems like the files selected with `gulp.src` have no effect on the PHPUnit command and the only way is to provide a `testClass`. For me this was a bit surprising as I thought the files in `gulp.src('/.')` are passed to PHPUnit. Is this an expected behavior?

What I

[2014-03-03 00:25] #9 closed, assigned to mikeerickson

[2014-09-30 19:14] SephVelut opened #12 "Unhandled error exception with notify turned off"
With

[code]

or

[code]

I get a [when running gulp]

[code]

This happens whenever a testcase for phpunit fails and gulp terminates as a result. Can gulp-phpunit run without notifying me?

[2014-10-11 21:35] #12 closed, assigned to nobody

[2014-10-25 07:02] zot24 opened #13 "Issue with colores option when running"
I'm having an issue when running the plugin inside my VM machine, it say:

[code]

Any idea why that could be happening? if I run `phpunit` command it works fine.

[2014-10-27 11:55] #13 closed, assigned to nobody

[2014-11-15 10:25] suzuki opened #15 "There are two "options.dryRun" in README.md"
Hi, I have a question in your [README.md](https://github.com/mikeerickson/gulp-phpunit/blob/master/README.md).
Is different option name or mistake ?
### First

[code]
### Second

[code]

[2014-11-21 21:22] #15 closed, assigned to nobody

[2014-12-14 12:47] jnardiello opened #16 "Can't get colors to work"
There's no way i can get colored output from gulp.

Here is the gulp task:
[code]

When issuing the `phpunit` command, the output is coloured properly as specified in the `phpunit.xml` file. Any idea?

[2015-01-27 14:38] borekb opened #17 "PHPUnit output is not visible until the tests are done (buffering problem?)"
When I run PHPUnit on command-line I see dots and other markers as the tests progress but with gulp-phpunit, there is no output at all until all tests are done.

Is there an option to disable output buffering?

[2015-02-27 23:11] #16 closed

[2015-03-16 18:10] mikeerickson commented on #17
@borekb This has been added to 0.8.0, will be live shortly

[2015-04-06 16:26] ejunker opened #19 "Error: stdout maxBuffer exceeded."
I'm using some dataProviders with many test cases. I am running my tests with the debug flag like this

`phpunit --group=search --colors --debug`

The combination of using data providers and the debug flag result in a lot of test output which I believe is what causes maxBuffer to be exceeded.

It looks like the fix may be to use child_process.spawn instead of child_process.exec https://github.com/

[2015-04-07 17:20] mikeerickson commented on #19
@ejunker I will take a look and see if your suggestion indeed fixes your problem.   If you want to get adventerous, make the change in the index.js file (at the top) and give it a whirl (that is what i would to test it).

[2015-07-19 15:41] mnshankar opened #21 "Phpunit on windows"
Hi,
As of now, gulp-Phpunit does not work on windows.

I would like to recommend a minor fix to file
index.js around line 85.

(this presumes the user has installed git tools and added the location to the included unix tools in their path variable)
[code]

[2015-07-19 21:33] mikeerickson commented on #21
But it does work on windows, I use it all the time.   As stated in docs, the first parameter is the path to wherever you have phpunit installed.

And it does not require git to be installed to use it either.

[2015-07-20 07:31] mnshankar commented on #21
Thanks for your prompt response.
Let me back up a little and explain the context of my ticket.

I recently started using Laravel/Elixir to automate my testing process. As you will note here: https://github.com/laravel/elixir/blob/master/ingredients/commands/RunTests.js, Elixir uses gulp-phpunit as described in #3 of your docs (supply callback to integrate something like notification (using gulp-no

[2015-07-20 16:00] mikeerickson commented on #21
@mnshankar I am not using it with Laravel Elixir, so I cant comment on that configuration.  I am using it on windows strait out of the box, but that it works as my path to phpunit binary matches the default location configured in gulp-phpunit.

As you described in item 2 above, the path will need to be overriden if it is not in the default location (which is the reason property is supplied.

[code

[2015-07-20 16:00] #21 closed

[2015-07-20 16:02] mikeerickson commented on #21
@mnshankar please refer to this section of documentation as it contains a working example of how to use on windows as well

[code]

[2015-07-29 13:30] Raydiation opened #22 "Default settings echo test results twice"
I'm running version 0.8.1 on Arch Linux

Here's my output (note that it gets written twice)
[code]

This is my build file:
[code]

Adding the silent option slims it down to only one output, which however seems weird:
[code]

[2015-07-30 08:31] micc83 opened #23 "ParsePI: PI php never end ..."
Hi,

After updating to 0.8.1 I get the error:

[code]

In order to fix it, accordingly to this [stackoverflow question](http://stackoverflow.com/questions/16860104/setting-phpunit-command-from-the-console-symfony), I have updated [index.js#L173](https://github.com/mikeerickson/gulp-phpunit/blob/master/index.js#L173) replacing the `-c` attribute with `--bootstrap`.

[2015-08-01 16:25] mikeerickson commented on #23
Updated in gulp-phpunit 0.8.3

[2015-08-01 16:25] #23 closed

[2015-08-01 16:25] mikeerickson commented on #23
@micc83 Can you please test against the 0.8.3 version just updated.

[2015-08-01 16:26] #19 closed

[2015-08-01 16:27] mikeerickson commented on #22
@Raydiation I have tried a number of permutations and not one produces the output twice?   Do you have any further information on this issue that you could share to help me figure out what is happening?

[2015-08-01 16:41] Raydiation commented on #22
Ok, the issue is gone, don't ask me why.

[2015-08-01 16:41] #22 closed

[2015-08-01 21:53] burriko opened #24 "Latest update breaks with 'Could not read "-bootstrap".'"
I've just updated to 0.8.3 and now the arguments ' -c -bootstrap' are being added to PHPUnit, which seems to be incorrect. PHPUnit ends up trying to load a config file named '-bootstrap'.

[2015-08-02 00:06] VoodooPrawn commented on #24
+1, I just changed index.js:176 to: cmd += ' -c "' + file.path + '"';

Seems to be working now.

[2015-08-02 00:15] mikeerickson commented on #24
Thx for info, I will get this updated in release version this evening.

[2015-08-02 01:04] slayerfat commented on #24
can confirm @VoodooPrawn solution does work

[2015-08-02 04:39] mikeerickson commented on #24
@slayerfat @VoodooPrawn

Hey guys, I have updated the plugin and submitted to npm.   Please let me know if you have any further issues.

[2015-08-02 04:39] #24 closed

[2015-08-07 00:51] prometheas commented on #22
So, I hate to say it, but I'm getting the same problem with the double output. Interestingly, however, if I add the `silent: true` option, I get the output only once.

[2015-08-07 00:55] prometheas commented on #16
Same here. I have run the task with debug, and here's the output:

[code]

[2015-08-07 00:58] mikeerickson commented on #22
Would you be willing to share a bit more information?  A rather bizarre issue, but would love to track it down and fix

Any additional info you can share (or a small sample test app) I would be happy to dig deeper.

[2015-08-07 01:00] mikeerickson commented on #16
That that is quite thorough ;)

As per my last note, a sample app would be most helpful.

[2015-08-07 01:04] prometheas opened #25 "gulp-phpunit seems to want to treat my phpunit.xml file as a class for testing"
I keep getting this error message:

[code]

Gulp task:

[code]

Output with debug:

[code]

Mac OS X 10.10.4 (Yosemite), Node 0.12.4, gulp 3.8.11, gulp-phpunit 0.8.4

[2015-08-07 01:07] prometheas commented on #22
Definitely. I've posted my deets a few times, but check out #25 for the full picture (task JS, phpunit.xml, and output with debug).

[2015-08-07 01:07] prometheas commented on #25
Derp! Forgot my `phpunit.xml` file:

[code]

[2015-08-07 01:08] prometheas commented on #16
Please see details in #25. Let me know if you need any more.

[2015-08-11 20:06] mikeerickson commented on #25
@prometheas I will be review this ticket sometime this week (gotta find some quality time).  Perhaps it will be over weekend

[2015-08-25 22:40] mikeerickson commented on #25
This has been fixed in 0.9.0, please update :-)

[2015-08-25 22:40] #25 closed

[2015-08-25 22:42] mikeerickson commented on #24
This has been fixed in 0.9.0, please update :-)

I didnt use your PR, but I do appreacite it as it helped track down the _real_ issue

[2015-08-25 22:43] mikeerickson commented on #22
This has been fixed in 0.9.0, please update :-)

[2015-08-26 16:46] prometheas commented on #25
Nice one :ok_hand:

[2015-08-27 22:49] WitteStier commented on #17
This bug is still alive for 0.9.1

[22:46:10] Using gulpfile /bm/gulpfile.js
[22:46:10] Starting 'test-server'...
[22:46:13] Finished 'test-server' after 2.8 s
[22:46:44] PHPUnit 4.7.7 by Sebastian Bergmann and contributors.

FF......S..........S...................F......................... 65 / 68 ( 95%)
...

Time: 17.44 seconds, Memory: 23.75Mb

[2015-08-28 00:06] mikeerickson commented on #17
Actually, I believe this is a regression introduced in 0.9.x.

Can your trying using

$ npm install gulp-phpunit@0.8.4

And see if it fixes the issue (this is the previous release before some refactoring in 0.9.x

[2015-08-28 21:20] WitteStier commented on #17
$ npm uninstall gulp-phpunit
$ npm install gulp-phpunit@0.8.4
Now it prints the phpunit output as expected but with a little surprise on the end.

[21:11:47] Using gulpfile /bm/gulpfile.js
[21:11:47] Starting 'test-server'...
PHPUnit 4.7.7 by Sebastian Bergmann and contributors.
....
Generating code coverage report in HTML format ... done
[21:12:16] 'test-server' errored after 29 s
[21:12:16] Erro

[2015-08-28 22:07] mikeerickson commented on #17
@WitteStier meaning the fact that I dont test for it is the reason for refactoring.

FWIW, testing gulp plugins of this fashion is not an easy one.

At any rate, thanks for confirming, I will get this cured into 0.9.2 this weekend

[2015-08-29 19:25] mikeerickson commented on #17
@WitteStier So I have tweaked things, this is now appear (using gulp phpunit)

http://d.pr/i/Ajc6

[2015-08-30 19:28] WitteStier commented on #17
PHPUnit is finished after 8.42ms? and i see the test results 2 times or do i overlook something?
at least the notify is new and helpful :)

[2015-08-30 19:52] mikeerickson commented on #17
Time is slow as it is running on a vagrant machine (not locally)

[2015-08-30 19:53] mikeerickson commented on #17
Hey, better to see something twice than not at all ;).  I have since cured that issue ...

[2015-08-31 17:47] WitteStier commented on #17
I am looking forward to your commit. Maybe you can re-open this issue so its clear that your working on it. At least that it will not reported again.

[2015-08-31 18:29] mikeerickson commented on #17
I didnt have time over the weekend to get this wrapped up.  Will try and get this merged into update in next couple days (and yes, reopening this ticket)

[2015-09-01 13:38] jeffwa commented on #17
I encountered this issue today after updating to 0.9.1, though in my case PHPUnit wasn't even being run. The gulp task would run and there'd be output stating is was running the task, however, the task would output the following:

[10:55:02] Using gulpfile /path/to/gulpfile.js
[10:55:02] Starting 'phplint'...
[10:55:02] Finished 'phplint' after 527 ms
[10:55:02] Starting 'phpunit'...
[10:55:03] gu

[2015-09-03 01:26] patternpaul opened #27 "PHPUnit Test failures are not properly notified when going from 0.9.0 to 0.9.1"
It seems that since I've upgraded to gulp-phpunit 0.9.1 from 0.9.0, on error notifications fail to fire. Here are some screenshots of the packages, cases and gulp file.
0.9.0
![image](https://cloud.githubusercontent.com/assets/3682501/9648642/47472144-51b0-11e5-8f85-a44965fd2a24.png)
![image](https://cloud.githubusercontent.com/assets/3682501/9648654/68a16ffc-51b0-11e5-9bb0-49487bcef546.png)
0.9.1

[2015-09-04 13:03] jadjoubran commented on #23
The bug is still occurring
Source: https://github.com/mikeerickson/gulp-phpunit/blob/master/index.js#L176

Reference: https://laracasts.com/discuss/channels/testing/gulp-tdd-not-working-properly

[2015-09-06 18:56] Arceopteryx opened #29 "Using Laravel Elixir 3.0 with gulp-phpunit version 0.9.0: ParsePI: PI php never end"
Hello

I've seen that you have fixed this issue once before. I am following a book in order to learn Laravel. When using the gulp command it gives me this error:

[code]

Tried replacing the -c flag in index.js with --bootstrap according to the previous issue listing, but with no cigar.

EDIT: There is a user at the laracasts forum that claims that it is an issue with Elixir 3.0 https://laracasts.

[2015-09-10 15:17] mikeerickson commented on #29
@Arceopteryx Yes, using the above Elixir command will indeed cure your issue.  However, this has also been resolved in gulp-phpunit

$ npm install -S gulp-phpunit@0.9.0 <-- we also have 0.9.1

Due to the way Jeffrey has configured his package.json, it will only pull in versions < 0.9.0 (ie 0.8.x)

[2015-09-10 15:17] #29 closed

[2015-11-14 11:49] adiachenko opened #30 "testSuite option is ignored"
This will not work:
[code]
[code]
The gulp task above should be roughly equal to executing `phpunit --testsuite Integration` in the project root when in fact it is not.

I skimmed your code in search of solution and found possible source of the issue. See index.js:189,192
[code]
First of all, you never prepend `--testsuite` flag to the value of opt.testSuite property. It will be passed to exec() a

[2015-11-14 22:15] mikeerickson commented on #30
Thx for report, I will have a look and get this resolved.

[2015-11-16 17:52] lukewaite commented on #30
I believe this is addressed in https://github.com/mikeerickson/gulp-phpunit/pull/20

[2015-11-22 15:27] sstok commented on #27
Same problem here.

[2015-12-05 23:20] mikeerickson commented on #30
Fixed in 0.10.x release

[2015-12-05 23:20] #30 closed

[2015-12-06 00:52] mikeerickson commented on #27
Fixed in 0.10.x release

[2015-12-06 00:52] #27 closed

[2015-12-06 01:02] mikeerickson commented on #17
Addressed issues which would lead to no output in version 0.10.0

[2015-12-06 01:08] #17 closed

[2015-12-08 18:23] lukewaite commented on #30
I believe this issue still exists, while 2323c34b fixes the actual call to phpunit it does not address the second half of the issue from the original bug:

In short, if you specify a `phpunit.xml`, `skip` is set to `true` so a setting of `testSuite` has no result.

[2015-12-10 01:58] mikeerickson commented on #30
@lukewaite would you mind sharing your gulp task. I will take a look tomorrow and get a fix out for you

[2015-12-11 03:15] lukewaite commented on #30
@mikeerickson sorry, I've run out of time tonight. I'll try to get a sample to you tomorrow, and whenever you have time to evaluate that is great. Thanks!

[2015-12-11 22:47] mikeerickson commented on #30
@lukewaite sounds good, I will be working on this project over weekend and will get it figured out

[2015-12-12 22:21] lukewaite commented on #30
@mikeerickson Thanks! Here's a repo with two branches that should give you an idea of our use case.

https://github.com/lukewaite/gulp-phpunit-sample

Hopefully that's clear, but if not let me know.

[2015-12-12 23:43] mikeerickson commented on #30
@lukewaite That is perfect, I will get it figured out before end of weekend.

[2015-12-13 18:05] mikeerickson commented on #30
OK, this is actually working in the latest build 0.10.1

If you add 'noConfiguration': true

The tests will run appropriately

Here is the way I am using it in my test

gulp.task('unit', function() {
  gulp.src('phpunit.xml')
    .pipe(phpunit('', { testSuite: 'Unit', noConfiguration: true, notify: true }))
      .on('error', handleErrors);
});

gulp.task('functional', function() {
  gulp.src('php

[2015-12-13 18:05] mikeerickson commented on #30
@lukewaite May sure you are using 0.10.1

[2015-12-19 20:06] mikeerickson commented on #30
@lukewaite I have completely refactored the internals of gulp-phpunit and this issue should be all clean now.  Just posted version 0.11.0

[2015-12-19 20:11] mikeerickson commented on #25
@prometheas FYI, I have completely refactored the internals of gulp-phpunit and have cleaned out all the cruffy code. Just posted version 0.11.0 (tag 0.11.0)

[2015-12-19 21:10] prometheas commented on #25
Neat. I'll have a poke during the week and let you know if I find anything worth reporting. Thanks for the heads up!

[2015-12-21 03:38] mikeerickson commented on #25
@prometheas sounds good, hope all is well with update :)

[2015-12-24 02:31] prometheas commented on #25
Looking good, Mike. FWIW.

[2015-12-24 03:03] mikeerickson commented on #25
@prometheas great, thanks for feedback   I have been dog fooding it myself this week at work and all seems swell for me as well

[2016-01-07 14:49] jeffwa commented on #17
Finally had a chance to update from 0.8.4 to 0.11.2 (actually ended up just deleting my node_modules directory and starting from scratch) and I'm having the same issue as before:
PHPUnit 5.1.0 by Sebastian Bergmann and contributors.
Runtime:       PHP 5.6.16 with Xdebug 2.3.3

[15:30:05] Using gulpfile /path/to/gulpfile.js
[15:30:05] Starting 'phplint'...
[15:30:05] Finished 'phplint' after 480 ms

[2016-01-07 18:29] mikeerickson commented on #17
@jeffwa Yes, there was a rather significant refactor at 0.11 and while a regression could have surely manifested, I am not see the same thing you are reporting.

Further, with regards to phplint reference, yes indeed a comment mistake (I was working on phplint and phpunit at the same time).

My apologies for the regression on your issue, going to have to try and reproduce this locally as everythin

[2016-01-07 18:32] mikeerickson commented on #17
@jeffwa While I have you, can you please share with me your task details and phpunit.xml file

[2016-01-08 07:45] jeffwa commented on #17
Thanks for the quick follow up, @mikeerickson.

My task (stripped down to the basics):

    gulp.task('phpunit', function() {
        return gulp.src(__dirname + '/module/HelpAdmin/build/phpunit.xml')
            .pipe(plugins.phpunit('/usr/local/bin/phpunit'));
    });

phpunit.xml:

    <phpunit backupGlobals="false"
             bootstrap="../test/Bootstrap.php"
             beStrictAboutOutput

[2016-01-08 08:05] jeffwa commented on #17
I added some debug statements to index.js just to see if I could narrow down where the issue could be and it has something to do with the `exec(cmd, function (error, stdout, stderr) {` statement. (line 212 from 0.11.0 tagged version.) I added `console.log(cmd);` immediately before that line and it output:

    /usr/local/bin/phpunit --colors=always -c "/Users/bjmc/Development/src/web/help.bisnode.

[2016-01-08 10:01] jeffwa commented on #17
After some more digging, the change from

    process.stdout.write(str);

to

    cb(null, str);

in commit https://github.com/mikeerickson/gulp-phpunit/commit/e64a34fad11019e5377af1bedac9a1e1d1a8c8ec is where the problem lies (at least in my case.) Returning output to `cb()` seems to trigger the finish of the calling task. When I revert the line in `index.js` back to `process.stdout.write(str);`

[2016-01-08 21:17] mikeerickson commented on #17
Thx for info, I will have a look at this over the weekend and get a fix released

[2016-01-09 23:01] mikeerickson commented on #17
@jeffwa OK, can you please adjust your code as follows.  I have made this simple adjustment to a fresh install of Laravel 5.2 using PHPUnit 0.11.2 (version installed by nom install)

Note: I am using the default phpunit.xml file from default install, for my local testing.

[code]

[2016-01-09 23:02] mikeerickson commented on #17
@jeffwa Here is a screenshot of what I am seeing on my end using the above code

http://d.pr/i/3TuP

[2016-01-11 09:25] jeffwa commented on #17
@mikeerickson Sorry for the delayed response. The code that is affected by this issue is a work project so I don't have access to it on the weekends.

I'm not using Laravel so I can't use the code you supplied. I updated my call to gulp-phpunit to look like this:

    return gulp.src('')
        .pipe(plugins.phpunit('', {configurationFile: _phpunitXml, notify: false}));

(gulp complained if src w

[2016-01-11 18:08] mikeerickson commented on #17
Hey Jeff, my apologies for assuming you were using with Laravel.  I am out sick today so I don't have access to code at this time.

I will try and have a look at this later today. I will do all j can to help you get this resolved today

[2016-01-11 21:54] mikeerickson commented on #17
@jeffwa Please have a look at this quick sample app (uses Slim3 framework, but not a requirement)

https://github.com/mikeerickson/gulp-phpunit-slim3-example

The core of this is the gulp task and custom.phpunit.xml file

[code]

[2016-01-11 23:59] lukewaite commented on #30
Thanks @mikeerickson - sorry for the delay - I'm still in catchup mode from an extended holiday break. I'll give v0.11.0 a shot.

[2016-01-12 00:10] mikeerickson commented on #30
Up to 0.11.3 now so make sure to install latest

$ npm install gulp-phpunit@latest

[2016-01-12 11:36] jeffwa commented on #17
@mikeerickson No worries. And really, don't sweat this too much. I'm able to work around it so it's not a huge problem for me. (Also, I'm out sick today so I can't do anything about this until I'm back in the office.)

During my investigation of this issue I've actually edited my gulp task (the one on my work project that fails) to be identical to what you posted in your last message with no luck.

[2016-01-13 09:33] jeffwa commented on #17
@mikeerickson Cloning the sample project in my work dev environment, installing everything and running `gulp phpunit` works fine.

I still have no idea what is causing the issue in my project that is making this not work. I've deleted `node_modules` and re-installed, tried wrapping my `gulpfile.js` functions in an IIFE, updated the configuration of `phpunit.xml` and re-written my `gulp.task` sever

[2016-01-14 02:50] mikeerickson commented on #17
@jeffwa hard to debug issues like this, but still prepared to offer whatever assistance I can,  how about your run the task with debug flag enabled to see what command is executed.  Further, can you give me a directory tree of your setup?

$ tree | pbcopy

  (making assumption you are on Mac). Otherwise expand your file structure enough to show tests directory and location of configuration file

[2016-01-14 08:36] jeffwa commented on #17
@mikeerickson Yeah, it's been pretty frustrating on this end that's for sure. :) Especially since it works in that sample project in the same dev environment.

debug: [Version] 0.11.3 Debug Cmd: /usr/local/bin/phpunit --colors=always --debug -c "/Users/bjmc/Development/src/web/help.bisnode.be/module/HelpAdmin/build/phpunit.xml"

tree: (I removed the node_modules and vendor directories as the outpu

[2016-01-15 02:17] mikeerickson commented on #17
Awesome, I will figure it out... Pretty bizarre that's for sure.  I assume we won't be able to converse about this again until you return to work Monday.  Where are you located ?

[2016-01-15 02:22] mikeerickson commented on #17
One question, if you take the cmd that is displayed in debug output and execute from command line directly, does it work as expected?

[2016-01-15 02:23] mikeerickson commented on #17
Additionally, if you do have command line execution working, can you please share what you are executing

[2016-01-15 06:20] mikeerickson commented on #17
One more item, you can try defining the path to xml file as:

./modiule/build/phpunit.xml

[2016-01-15 07:35] jeffwa commented on #17
@mikeerickson I'm in Brussels, Belgium. I'm to work today.

Running the command that's displayed in debug mode works fine. When I run it myself it works fine, too:

    # cd /Users/bjmc/Development/src/web/help.bisnode.be
    # phpunit -c ./module/HelpAdmin/build/phpunit.xml

Though usually if I run it manually I cd to the location of the phpunit.xml file and just run `phpunit`.

That path doesn't

[2016-01-15 07:59] mikeerickson commented on #17
Off to bed, one more idea for evening.  Put the phpunit.xml file at same level as gulpfile and then point to "phpunit.xml". I will pick this up again tomorrow (time to sleep)

[2016-01-18 07:15] jeffwa commented on #17
@mikeerickson Sorry, forgot to post this comment last week.

Tried that, no change.

[2016-01-19 04:32] mikeerickson commented on #17
Wow, this is a bizarre issue. I am pretty stumped?

[2016-01-19 09:51] jeffwa commented on #17
Same here. I'm going to have to table trying to find the cause of this issue for now. Other projects at work need my attention. I wouldn't worry about it. When I get a chance to look into this again I'll let you know. Thanks again for looking into this with me.

[2016-01-20 02:30] mikeerickson commented on #17
No worries, I completely understand.  I am beyond buried at work as well. Use this project daily and all works fine, gotta be something obscure.  Thx for efforts.

[2016-01-25 13:55] henrywright opened #33 "gulp-phplint?"
Why does the README.md speak of `gulp-phplint`? I thought the plugin was `gulp-phpunit`.

Ref: https://github.com/mikeerickson/gulp-phpunit

[2016-01-26 05:04] mikeerickson commented on #33
it is indeed gulp-phpunit.  My bad (I was working on both plugins the same day and made a mistake

[2016-01-26 18:45] henrywright opened #34 "option --colors doesn't allow an argument"
I'm getting this message when I run my gulp task:

Thing is, I'm not providing a `--colors` option in my task or in my `phpunit.xml`. My task:
[code]

Here's my build log: https://travis-ci.org/henrywright/buddypress-identicons/jobs/104960524

[2016-01-27 02:47] mikeerickson commented on #34
Two questions

1) what version of gulp-phpunit are you using
2) can you please the gulp task which uses plugin

[2016-01-27 08:34] henrywright commented on #34
1) 0.11.3

2) I did paste my task above, but here it is again
[code]

[2016-01-27 22:16] mikeerickson commented on #34
@henrywright My apologies requesting the task, I was responding on phone and didn't see that part.

This appears to be an issue with the version of PHPUnit you are using.   What version of PHPUnit are you using?  I will have a look using the same version you are using locally and see what is happening.

[2016-01-27 22:18] henrywright commented on #34
4.5.0 is the version I'm seeing the problem. I'm running 4.8.21 locally which is working fine.

[2016-01-28 05:02] mikeerickson commented on #34
This extended --colors=always was added in 4.8.x series. In 4.5, the --colors was all it had.

[2016-01-28 08:27] henrywright commented on #34
I'm not specifying `--colors=always` or `--colors`. Is that something gulp-phpunit does?

[2016-01-28 21:08] mikeerickson commented on #33
@henrywright Thank you for bringing this to my attention.  The issue is much deeper than just the readme.  The whole project is messed up.   I will get this cured over the weekend.

THANK YOU!

[2016-01-28 21:11] mikeerickson commented on #33
@henrywright The plugin repository on npm is still available...

$ npm install -D gulp-phpunit

[2016-01-28 21:43] henrywright commented on #33
No problem @mikeerickson, the node package does indeed work great on my local machine. hope you're able to fix the Git repo

[2016-01-29 01:40] mikeerickson commented on #33
@henrywright All fixed :-)  Thanks again

[2016-01-29 02:08] #33 closed

[2016-01-29 02:09] mikeerickson commented on #34
@henrywright I have fixed this issue, just need to upgrade to gulp-phpunit v0.12.1 or greater

$ npm i -D gulp-phpunit@latest

[2016-01-29 02:09] #34 closed

[2016-01-29 11:06] henrywright commented on #34
Thanks Mike!

[2016-03-02 20:44] mikeerickson opened #35 "Add yellow line if any tests are marked as skipped or incomplete"

[2016-03-02 20:45] mikeerickson opened #36 "Document workflow used for personal testing"

[2016-03-03 04:33] mikeerickson commented on #35
Added to v0.13.0

[2016-03-03 04:33] #35 closed

[2016-03-03 04:35] mikeerickson opened #37 "Expand Tests to check all options"
Expand project tests to validate against --debug (evaluate results on console)

[2016-03-03 04:37] mikeerickson opened #38 "Update bundled cd-utils to use npm package"

[2016-03-11 00:51] mikeerickson opened #40 "Refactor to use async exec"
- This will produce output right away in console (as if you executed phpunit from command line)
- This will fix the intermittent issue with double output at end of execution

Note: Add this to gulp-phpspec, gulp-codeception, and gulp-behat

[2016-03-12 03:11] mikeerickson commented on #40
Updated in v0.14.0

[2016-03-12 03:11] #40 closed

[2016-03-12 03:12] mikeerickson commented on #37
This will be exposed by checking result of debug output

[2016-03-14 14:02] alexpica opened #41 "Task is reporting as finished before actually finishing"
Hey

I declared a task running phpunit like this:

[code]

But when i run it, it doesn't wait until the actual end of the command.

So if i try to put it in a sequential task list, it runs it in parallel with the next item (in fact the phpunit task returns immediately, while the actual phpunit command still runs + it runs the next item in the list).

Maybe it's something i'm doing wrong?

Thanks,

[2016-04-19 18:05] KOGI commented on #41
Running into the same thing here. I've spent a few hours digging and it *seems* like it's related to the way this lib is using map-stream, but I'm really not sure.

[2016-04-19 22:39] mikeerickson commented on #41
@alexpica @KOGI

Can you please run with debug enabled and send me a screen of output

[code]

[2016-04-20 22:54] KOGI commented on #41
##### note: this is using gulp-phpunit v0.11.3 because I couldn't get the upgrade to v0.14.0 working at all (missing dependencies)

## gulpfile.js

[code]

## Output

[code]

Notice gulp output of `Finished 'test' after 441 ms` and phpUnit output of `Time: 8.22 seconds`

[2016-04-21 02:28] mikeerickson commented on #41
@KOGI Actually, this is nothing I have control over, it is the way gulp works.   These start and finish items are created by gulp internally.  Since gulp-phpunit starts a new process (async) to execute PHPUnit, it is spawned and left to complete on its own.

Having said that, I am going do some research to see if I can control the actual finish of the gulp task.

[2016-04-21 02:28] #41 closed

[2016-04-21 02:29] KOGI commented on #41
That would be awesome
On Apr 20, 2016 7:28 PM, "Mike Erickson" <notifications@github.com> wrote:

[2016-06-06 08:07] laufhannes opened #42 "gulp-util is marked as dev-only dependency"
Trying to include `gulp-phpunit` (i.e. nothing more than `var phpunit = require('gulp-phpunit');`) fails because `gulp-util` can't be found:
[code]

Moving `gulp-util` from `devDependencies` to `dependencies` should solve this issue.

[2016-06-06 18:25] mikeerickson commented on #42
@laufhannes Thanks for notice, I will get this cured shortly.

[2016-06-06 18:28] mikeerickson commented on #42
@laufhannes This has been cured in 0.15.1, my apologies for mixup.  Surprised this just appeared now, it has been like this since very early in development :-)

[2016-06-06 18:28] #42 closed

[2016-06-20 19:30] emersonthis opened #43 "How to pass --no-coverage option"
Our suite is big and the `--no-coverage` option allows the tests to run much faster. Is there a way to pass this option?

[2016-06-20 22:01] bdjnk commented on #30
@mikeerickson This is still wrong. The `testSuite` option is used only when `noConfiguration: true` (or the config file is not xml), which is strange considering testsuites are defined in xml config files according to [the phpunit docs](https://phpunit.de/manual/current/en/organizing-tests.html#organizing-tests.xml-configuration).

[2016-06-21 23:39] mikeerickson commented on #30
@bdjnk Would you mind sending me a clip of your gulp script.   So far as I can tell, it is doing what it should be, but I may be testing a different method than you are doing.

Thx

[2016-06-22 13:52] bdjnk commented on #30
First, here's the basic command: `phpunit -c tests/tests.xml --testsuite Model`.

The works correctly in conjunction with tests.xml where I have:

[code]

Unfortunately I am unable to achieve that in my gulpfile. Here's the simplest case:

[code]

The testSuite gets ignored and is not appended to the final command.

[2016-06-26 00:56] mikeerickson commented on #43
Fixed in 0.16.0

[2016-06-26 00:56] #43 closed

[2016-07-03 18:43] teseo commented on #30
Still failing :(

[2016-07-03 19:12] teseo commented on #30
Doing a bit of debugging I could see, in my case, the reason why testSuite (and pretty much anything that is wrapped in an if statement with `(! skip)` in it.

in the file `index.js` in the line 188 we can see this code:
[code]

In my case as i'm using a phpunit.xml file, I do enter inside of that if. The case of the TestSuite option, we can see this if:

[code]

As the `skip` variable is set to t

[2016-07-03 22:32] mikeerickson opened #44 "Additional issue with testSuite option"
Refer to https://github.com/mikeerickson/gulp-phpunit/issues/30 for users comments

[2016-07-14 22:05] #44 closed

[2016-08-23 17:29] Starli0n opened #46 "Unhandled error on failure of phpunit"
Hi,

It seems that I do not manage to handle the error from phpunit but I do not know why...

Here is my script:

[code]

When I run the gulp task, I can see the `phpunit` output with a failure as expected in the console but it seems that the plugin always return 0. As a consequence, I could not reach `on('error', ...)`. I tried with the 3 methods, in vain...

Could you please help me on this ?

T

[2016-08-24 02:40] mikeerickson commented on #46
@Starli0n I will have a look at this ASAP   I have a solution in mind, but need to code / test it for sure.

[2016-08-24 02:54] mikeerickson commented on #46
@Starli0n Version 0.17.0 https://www.npmjs.com/package/gulp-phpunit has a new callback you can execute when each test case is run

[code]

[2016-08-24 02:54] #46 closed

[2016-08-24 12:39] Starli0n commented on #46
Thanks, it works! (I prefer using `process.exit(1);` instead of `throw err`)

[2016-08-24 15:29] mikeerickson commented on #46
@Starli0n Whatever you prefer, that is up to you :-)

By supplying a callback, it gives YOU the tools you need to do it however you wish.

[2016-10-09 22:44] SephVelut opened #57 "Outputs twice"
upgrading to 0.19 from 0.18 makes the test result output happen twice

[code]

[2016-10-10 00:40] mikeerickson commented on #57
@sephvelut Thanks for report, I will have a look at this shortly.  Seems there was regression issue when 0.19 update was released (I have addressed this issue at some point many releases ago).

[2016-10-11 23:14] mikeerickson commented on #57
Issue has been fixed with v0.20.0 release

https://www.npmjs.com/package/gulp-phpunit

[2016-10-11 23:14] #57 closed

[2016-10-18 18:46] mikeerickson opened #64 "Replace `should` with `chai.should`"
- [ ] Remove `should` dependency, instead using `chai.should`
- [ ] Update tests accordingly

[2016-10-18 18:47] mikeerickson opened #65 "Fix Circle-io issues"
- [ ] Fix circle issues

[2016-10-18 20:54] #65 closed

[2016-10-18 20:54] #64 closed

[2017-02-07 14:42] jacksleight opened #104 "noCoverage option check incorrect?"
There's an option called `opt.noCoverage`, which is set to false by default, and I would _assume_ should add the `--no-coverage` phpunit argument if set to true? (It's not documented in the README.)

However, the code does the opposite:

[code]

So doing:

[code]

Results in coverage reports being generated (if configured), and:

[code]

Results in no coverage reports being generated.

Not sure if

[2017-02-07 17:57] mikeerickson commented on #104
@jacksleight good catch, I have adjusted code accordingly :-)

[2017-02-07 17:57] #104 closed

[2017-04-12 09:24] jeffwa commented on #17
@mikeerickson, I just now got back around to dealing with this issue again. It's still there for me, this time in a different project (though it's still there in the original project.) However, I was still running 0.11.2 Yeah, I know that's *extremely* out of date) in both the of the offending projects. `npm update` wouldn't update the module to anything newer so I checked GitHub to see the curren

[2017-04-12 15:36] mikeerickson commented on #17
To install latest version

[code]

[2017-05-15 22:20] mikeerickson opened #112 "Support running multiple `testSuites`"
- [ ] Add support for executing mulitple `testSuite`
- [ ] Extend `option.testSuite` to support string (single testSuite) or array (multiple testSuite)

[2018-01-10 20:33] mikeerickson opened #113 "Remove deprecated `gulp-util`"
Remove deprecated `gulp-util`

[2018-01-10 21:04] #113 closed

[2018-01-10 21:35] mikeerickson opened #114 "Fix CircleCI Errors"
The CircleCI integration is failing as it is using some old node versions.  Need to update the minimum requirements

[2018-04-18 01:29] jeffbeagley opened #115 "No console output on PHP errors if testdox is set to true"
When I  have testdox set to true, I just receive a "Testing Failed" message in the console, however if I set it to false, then I receive php errors directly into the console which is the ideal behavior.. Is there a way to keep testdox on, yet also have PHP errors outputted to console? thanks!

[2018-04-18 02:57] mikeerickson commented on #115
Hey Jeff

I will have a look at this tomorrow and see what’s up.

[2018-05-31 19:48] boba opened #116 "noCoverage option not used if using a configuration file"
Adding { noCoverage: true } to the options does not add the "--no-coverge" argument to phpunit if you have also specified a configuration file via either gulp-src('phpunit.xml') or with { configurationFile: 'phpunit.xml' }.  This option should be allowed even if code coverage is defined in the configuration file.

The code below shows that 'skip' is set to true if an .xml configuration file is spe

[2018-05-31 20:07] mikeerickson commented on #116
Thanks for the report, I will get it updated in the next few days (likely weekend work)

[2018-05-31 21:31] #116 closed

[2018-05-31 23:53] boba commented on #116
You rock. Thanks!

[2019-11-21 19:49] petrenkorf opened #117 "testClass option being ignored"
Running with the following parameters:

var options = {
        testClass: "filename",
        stopOnFailure: true,
        stopOnError: true,
        dryRun: true
    };

is printing the following output:

*** [Version] 0.26.0 Dry Run Cmd: ./vendor/bin/phpunit --colors=always --stop-on-error --stop-on-failure -c "/home/****/Projects/studies/webapp/phpunit.xml" ***

As you can see, the "filename"

[2019-11-25 12:08] #117 closed, assigned to nobody